<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Crypt>
            <version>0.0.0.1</version>
        </Loewenstark_Crypt>
    </modules>
    <global>
        <helpers>
            <ldscrypt>
                <class>Loewenstark_Crypt_Helper</class>
            </ldscrypt>
            <core>
                <encryption_model>Loewenstark_Crypt_Model_Encryption</encryption_model>
            </core>
        </helpers>
        <models>
            <ldscrypt>
                <class>Loewenstark_Crypt_Model</class>
            </ldscrypt>
            <core>
                <rewrite>
                    <encryption_model>Loewenstark_Crypt_Model_Encryption</encryption_model>
                    <cookie>Loewenstark_Crypt_Model_Core_Cookie</cookie>
                </rewrite>
            </core>
        </models>
    </global>
</config>